footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 10px;
  gap: 5px;
  font-family: 'Montserrat';
}
.text_footer {
  font-size: 14px;
  font-weight: 700;
  color: var(--gris-placeholder);
}
.heart_footer {
  width: 12px;
}

@media screen and (max-width: 375px) {
  .text_footer {
    font-size: 10px;
    font-weight: 700;
    color: var(--gris-placeholder);
  }
  .heart_footer {
    width: 8px;
  }
}

@media screen and (max-width: 300px) {
  .text_footer {
    font-size: 9px;
    font-weight: 700;
    color: var(--gris-placeholder);
  }
  .heart_footer {
    width: 8px;
  }
}